<div class="menu-list-container">
  <div class="logo-container">
    <img src="https://i.ibb.co/zNPmG9R/Screenshot-2024-09-04-at-12-13-09.png" alt="HomeConnect Logo" class="logo" />
  </div>

  <div class="menu-toggle-container">
    <button class="menu-toggle" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="menu-container" [class.active]="menuOpen">
    <mat-nav-list >
      <mat-list>
        <a routerLink="/" class="visible-nav-link">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </a>
        <a routerLink="/jobs">
          <mat-icon>work</mat-icon>
          <span>Jobs</span>
        </a>
        <a routerLink="/resumes">
          <mat-icon>description</mat-icon>
          <span>Resumes</span>
        </a>
        <a routerLink="/employers">
          <mat-icon>business</mat-icon>
          <span>Employers</span>
        </a>
        <a routerLink="/about-us">
          <mat-icon>info</mat-icon>
          <span>About Us</span>
        </a>
        <a routerLink="/contact-us">
          <mat-icon>contact_support</mat-icon>
          <span>Contact Us</span>
        </a>
      </mat-list>
    </mat-nav-list>
  </div>

  <div class="login-button-container">
    <button mat-raised-button color="primary" routerLink="/login" class="login-button">
      <span>Login</span>
    </button>
  </div>
</div>
