.jobs-container{
   
    margin: auto;
    display: flex;
    flex-direction: column;
}
.header{
    margin: auto;
    color: var(--accent-color);
}
.search{
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    max-width: 70%;
    width: 100%;
    margin: auto;
    background-color: var(--primary-color);
}
